{% extends 'base.html.twig' %}
{% block title %}Membres{% endblock %}
{% block body %}
    <div class="container mt-5">
        <h2 class="text-center">Nos membres</h2>
        <p class="text-center">
            Un groupe de professionnel, à votre disposition
        </p>
        <div class="membres row">
            {% for member in members %}
                <div class="card-membre col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2 mt-3 text-dark border">
                    <div style="width: 100%;">
                        <div class="card-body photos-membre">
                            <a href="{{ path('member_profile', {id:member.id}) }}"><img class="card-img-top image_profile" src="{{ member.profileImage }}" alt="photo de profile/entreprise"/></a>
                            <a href="{{ path('member_profile', {id:member.id}) }}"><p class="card-title text-center mt-3">{{ member.name}}</p></a>
                            <p class="card-subtitle mb-2 text-muted text-center">{{ member.company }}</p>
                            {% for job in member.getJobs()|slice(0, 1) %}
                            <p class="card-text text-center">{{ job.nameJob }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
    {% endfor %}
        </div>
    </div>
{% endblock %}
