 {% extends 'base.html.twig' %}

{% block title %}Nouveau métier{% endblock %}

{% block body %}
<h1>Créer votre métier ici</h1>
{{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form._token) }}
    <div class="row formulaire_div">
        <div class="form-group col-12 col-xl-6 mx-auto">
            {{ form_label(form.nameJob, 'Je fais le métier suivant :') }}
            {{ form_widget(form.nameJob, {'attr':{'class':'form-control border border-dark'}}) }}
        </div> 
    </div>
    <div class="row">  
      <button type="submit" class="btn btn-dark mx-auto">{{ button_label|default('Suivant') }}</button>
    </div>
{{ form_end(form, {'render_rest': false}) }}
{% endblock %}